
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/shopping.js"></script>
        <title>Policies</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/StyleSheet.css">
    </head>
    <body ng-controller="PolicytController as polCtrl" >

        <h1>Policies</h1>
        <div ng-include="'menu.html'" ></div>
        <button ng-click="polCtrl.getPolicies()" >All</button>
        <button ng-click="polCtrl.selecttags(tag)" ng-repeat="tag in polCtrl.tags">{{tag.name}}</button>
        <table>
            <tr>
                <th>name</th>
                <th>party</th>
                <th>policy:</th>
                <th>tags</th>
                <th>website</th>
                <th>date</th>
                <th></th>
            </tr>
            <tbody>
                <tr ng-repeat="policy in polCtrl.policies">
                    <td>{{policy.name}}</td>
                    <td>{{policy.party}}</td>
                    <td>{{policy.text}}</td>
                    <td>{{policy.tags}}</td>
                    <td>{{policy.website}}</td>
                    <td>{{policy.date}}</td>
                    <!--<td><button ng-click="cartCtrl.storeProduct(product)">Buy</button></td>-->

                </tr>
            </tbody>
        </table>

    </body>
</html>
